@charset "utf-8";

/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 6
   Case Problem 3

   Calendar Style Sheet
   Author: Christian Gregorio
   Date:   12.12.18

   Filename:   lht_tables.css

*/

/* ===============================
   Mobile Styles: 0px to 640px 
   ===============================
*/
/* This selects the browsers that have 640 or less pixels. */
@media only screen and (max-width:640px) {

    table,
    tbody,
    tr,
    td,
    th,
    caption {
        display: block;
    }

    thead th,
    tbody h1 {
        display: none;
    }

    /* 
      These styles display the table caption in white on a medium gray background with a font size of 1.5em and a line height of 2em.
    */
    table caption {
        color: white;
        background-color: grey;
        font-size: 1.5em;
        line-height: 2em;
    }

    td {
        border: 1px dotted grey;
        color: rgb(11, 12, 145);
        position: relative;
        padding-left: 42%;
        min-height: 40px;
    }

    /* 
This affects every other row in the mobiles table.
*/
    tr:nth-of-type(odd) {
        background-color: rgb(255, 235, 178);
        border: 2px solid gray;
    }

    td::before {
        content: attr(data-date);
        position: absolute;
        left: 0;
        top: 0;
        width: 40%;
        padding: 5px;
    }
}



/* =============================================
   Tablet and Desktop Styles: greater than 640px
   =============================================
*/
/* 
This gives us out picture as the background with out any repeating of tiling. It also centers the table and sets it to 85%.
*/
@media only screen and (min-width:641px) {
    table {
        background: url(lht_photo1.png);
        background-repeat: no-repeat;
        background-position: 100% 100%;
        background-size: 40%;
        border: 6px double rgb(154, 64, 3);
        border-collapse: collapse;
        margin: 20px auto;
        width: 85%;
    }

    th,
    td {
        border: 1px solid grey;
        font-size: 0.85em;
        font-weight: normal;
        vertical-align: top;
        width: 14.28%;
        word-wrap: break-word;
    }

    td {
        background-color: rgba(171, 171, 171, 0.6);
        color: rgb(11, 12, 145);
    }

    /* 
    This affects every data cell with the data-date including the word Feb.
    */
    td[data-date*="Feb"] {
        background-color: rgba(232, 214, 148, 0.6);
        box-shadow: gray inset 0 0 20px;
    }

    caption {
        caption-side: top;
        text-align: center;
        padding-bottom: 10px;
        font-size: 1.2em;
        kerning: 3px;
    }

    /* 
    This only affects the absolute first row of the table; the days of the week.
    */
    thead th {
        background-color: rgb(154, 64, 3);
        color: white;
    }
}